-# ここからがヘッダーです。
.header
  .header_logo
    FURIMA
  .header_box
    .header_left
      .category_btn
        カテゴリ
      .brand_btn
        ブランド
    .header_right
      .login_btn
        ログイン
      .sign_up_btn
        新規登録
-# ここまで。

.exhibition_btn
-# 固定で付け回すカメラアイコン（出品ページへの遷移）。

-# ここからが１つ目のバック画像付きBOXです。
.top_image
  .top_image_box
    .top_title
      人生を変えるフリマアプリ
    .top_message
      FURIMAはだれでもかんたんに出品・購入できる
      フリマアプリです
  .top_icon_box
    .top_app_icon
      -# = apple-storeのアイコン
    .top_google_icon
      -# ＝Google Platのアイコン
-# ここまで。

-# ここからが”FURIMAが選ばれる３つの理由”です。
.messsage_reason
  FURIMAが選ばれる３つの理由
  .reason_box_a
    .reason_title_a
      ３分ですぐに出品
    .reason_message_a
      スマホで入力するだけで簡単に出品できる！
  .reason_box_b
  .reason_title_b
    シンプルで使いやすい
  .reason_message_b
    めんどくさい入力は必要なく、検索も購入もスムーズ！
  .reason_box_c
    .reason_title_c
      手数料業界最安
    .reason_message_c
      最大3%でお得に出品&購入！
-# ここまで。

-# ここからが２つ目のバック画像付きBOXです。
.center_image
  .center_image_box
    .center_title
      会員数日本一位
    .center_message
      FURIMAは、フリマアプリで最も人気。
      出品・購入回数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
  .center_icon_box
    .center_app_icon
      -# = apple-storeのアイコン
    .center_google_icon
      -# = Google Playのアイコン
-# ここまで。

-# ここからが”FURIMAの特徴”です。
.message_characteristic
  FURIMAの特徴
  .characteristic_box_a
    .characteristic_title_a
      簡単に売り買いできる
    .characteristic_message_a
      スマホひとつで、いつでもどこでも簡単
      に出品・購入が可能！
  .characteristic_box_b
    .characteristic_title_b
      売上金は即日振込みに対応
    .characteristic_message_b
      午前9時までに振込を依頼いただけれ
      ば、翌日に指定の口座に入金いたします!
  .characteristic_box_c
    .characteristic_title_c
      様々な支払いに対応
    .characteristic_message_c
      お支払いは、クレジットカードだけでな
      く、ポイントや売上金など多彩な方法が
      あります。
-# ここまで。

-# ここからが"新規投稿商品”です。
.pickup_category
  ピックアップカテゴリー
.pickup_new_post
  新規投稿商品
  .pickup_category_box
    .pickup_category_a
      .category_name_a
        ee
      .category_price_a
        1000円
      .category_tax_a
        （税込）
      .category_point_a
        ★０
    -# 以下b〜dは同義です。
    .pickup_category_b
      .category_name_b
        product3
      .category_price_b
        30000円
      .category_tax_b
        （税込）
      .category_point_b
        ★０
    .pickup_category_c
      .category_name_c
        product2
      .category_price_c
        20000円
      .category_tax_c
        （税込）
      .category_point_c
        ★０
    .pickup_category_d
      .category_name_d
        product1
      .category_price_d
        10000円
      .category_tax_d
        （税込）
      .category_point_d
        ★1
-# ここまで。

-# ここからが”ピックアップブランド”です。
.pickup_brand
  ピックアップブランド
.pickup_archive
  アーカイバ
  .pickup_brand_box
    .pickup_brand_a
      .brand_name_a
        ee
      .brand_price_a
        1000円
      .brand_tax_a
        （税込）
      .brand_point_a
        ★０
    .pickup_brand_b
      .brand_name_b
        product3
      .brand_price_b
        30000円
      .brand_tax_b
        （税込）
      .brand_point_b
        ★０
    .pickup_brand_c
      .brand_name_c
        product2
      .brand_price_c
        20000円
      .brand_tax_c
        （税込）
      .brand_point_c
        ★０
    .pickup_brand_d
      .brand_name_d
        product1
      .brand_price_d
        10000円
      .brand_tax_d
        （税込）
      .brand_point_d
        ★１
-# ここまで。

-# ここからが３つ目のバック画像付きBOXです。
.bottom_image
  .bottom_image_box
    .bottom_title
      だれでもかんたん、人生を変えるフリマアプリ
    .bottom_message
      今すぐ無料ダウンロード！
  .bottom_icon_box
    .bottom_app_icon
      -# = apple-storeのアイコン
    .bottom_google_icon
    -# = google PLayのアイコン
-# ここまで。

-# ここからがフッターです。
.fotter
  .fotter_box
    .about_box
      .about_title
        FURIMAについて
        .manegement_company
          会社概要（運営会社）
        .privacy_policy
          プライバシーポリシー
        .terms_service
          FURIMA利用規約
        .point_convenant
          ポイントに関する特約
    .look_box
      .look_title
        FURIMAを見る
        .look_category
          カテゴリー一覧
        .look_brand
          ブランド一覧
    .help_box
      .help_title
        ヘルプ＆ガイド
        .app_guide
        　FURIMAガイド
        .logo_guideline
          FURIMAロゴ利用ガイドライン
        .app_notice
          お知らせ
    .fotter_logo
      .fotter_logo_image
        -# FURIMAのアイコン
      .fotter_logo_text
        -# ○CのFURIMAのマーク
-# ここまで。   